

        paper-checkbox {
          --paper-checkbox-checked-ink-color: #FFFFFF;
          --paper-checkbox-unchecked-ink-color: #FFFFFF;
        }
        h1 {
          color: brown;
          text-align: center;
          font-size: x-large;
        }
    


label {
    color:blue;
    font-family: 'Times New Roman', Times, serif
}

fieldset {
padding:40px;
color:rgb(255, 0, 200);
}

input[type=text] {
    color:rgb(255, 0, 21);
}

input[type=submit]{
    color:orange;
    background-color: aquamarine;
    padding:10px;
}